<div class="row">
  <div class="col-4">
    <div class="card mt-3">
      <div class="card-header">
        Importar palistas
      </div>
      <div class="card-body">

        <h5>Datos del archivo</h5>
        <table class="table">
          <tr>
            <th>Nombre: </th>
            <td colspan="3" *ngIf="!!file"> {{ file.name }} </td>
          </tr>
          <tr>
            <th>Fecha: </th>
            <td *ngIf="!!file"> {{ fecha }} </td>
            <th>Hora: </th>
            <td *ngIf="!!file"> {{ hora }} </td>
          </tr>

          <tr>
            <th>tipo: </th>
            <td *ngIf="!!file"> {{ file.type }} </td>
            <th>tamaño: </th>
            <td *ngIf="!!file"> {{ file.size }} </td>
          </tr>
        </table>

        <label class="btn btn-primary btn-block btn-file"  [class.btn-secondary]="fileUrl.value">
          <i class="fa fa-folder"> </i> Seleccione el archivo
          <input #fileUrl type="file" style="display: none;" accept=".json" (change)="onChange($event)"
            [disabled]="fileUrl.value">
        </label>

        <div class="row  mt-2">
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-block" 
              [disabled]="!fileUrl.value" (click)="onUpload()">
              <i class="fa fa-upload"></i> Importar palistas
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary btn-block" (click)="goBack()">
              Cancelar
            </button>
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <div class="col-8">
    <div class="card mt-3">

      <div class="card-body">

        <h5>Resumen</h5>
        <table class="table" *ngIf="!!tblResumen">
          <tr *ngFor="let linea of tblResumen">
            <td (click)="showPalistas(linea.tipo)" class="p-1"> {{ linea.descrip }} </td>
          </tr>
        </table>

      </div>
    </div>

    <router-outlet class="mt-3"></router-outlet>

  </div>
</div>
